numpy==1.21.0
opencv-python==4.5.3.56
pdfrw==0.4
Pillow==8.2.0
pyasn1==0.4.8
pycryptodome==3.10.1
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyzbar==0.1.8
qrcode==6.1
reportlab==3.5.67
rsa==4.7.2
six==1.16.0
requests
pdfplumber
argparse==1.4.0
pandas
googledrivedownloader